extends ../layout

block content
    .p-3
        a.btn.btn-primary(href='/bicicletas') Volver

        br
        br
        
        h1 Nueva Bicicleta

        br

        form(action='/bicicletas/create' method='post')
            label(for='id') ID:
            input#id(type='text' name='code')
            br
            label(for='color') Color:
            input#color(type='text' name='color')
            br
            label(for='modelo') Modelo:
            input#modelo(type='text' name='modelo')
            br
            .container
                #main_map
            label(for='lat') Latitud:
            input#lat(type='text' name='lat')
            br
            label(for='lng') Longitud:
            input#lng(type='text' name='lng')
            br
            br
            input.btn(type='submit' value='OK')

        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')
        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        // Core theme JS
        script(src='../javascripts/scripts.js')
        script(src='../javascripts/mapForSelectingLatlng.js')



