extends layout

block content
    .p-3
        a.btn.btn-primary.mb-3(href="/") Página Principal
    
        table.table
            thead
                tr
                    th(scope='col') #
                    th(scope='col') Color
                    th(scope='col') Modelo
                    th(scope='col') Ubicacion
                    th(scope='col')
                    th(scope='col')
            tbody
                each bici in bicis
                    tr
                        td(scope='row')
                            = bici.code
                        td= bici.color
                        td= bici.modelo
                        td= bici.ubicacion
                        td
                            a.btn.btn-primary(href=`bicicletas/${bici._id}/update`) Editar
                        td
                            form.inline(method="post" action=`bicicletas/${bici._id}/delete`)
                                input(type="hidden" name="_id" value=bici._id)
                                button.link-button(type="submit" name="submit_param" value="submit_value" class="btn btn-danger")
                                    = "Eliminar"

        .p-3.text-center
            a.btn.btn-primary.mx-2(href="/bicicletas/create") Nueva Bicicleta
